@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'FK';
    src:  url('/FK.woff2') format('woff2');
}

@font-face {
    font-family: 'FKS';
    src:  url('/FKS.woff2') format('woff2');
}
